@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "ProximaNova";
  src: url('../../../assets/fonts/ProximaNova/ProximaNova-Regular.ttf');
  src: url('../../../assets/fonts/ProximaNova/ProximaNova-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}

$main-font: ProximaNova;

.carts {
  padding-top: 30px;
}

.carts-title {
  padding-bottom: 20px;
}

.pizza-items {
  @include flexRow;
  flex-wrap: wrap;
}

